.BoardMenu {
  width: 100%;
  @extend %flex-row;
  padding: 0;

  .column {
    padding: 0;
  }

  .BoardMenu-button {
    position: relative;
    width: 100%;
    @extend %letterpress;
    font-family: monospace;
    font-size: 0.8rem;
    padding: $p1 / 2;
    text-transform: uppercase;
    font-weight: bold;
    background-color: ($black-l2);
    box-shadow: $shadow;
    transition: $transition-default;

    &.on {
      color: darken($primary, 12%);
    }

    &:active {
      color: $primary;
      box-shadow: none;
    }
  }
}
