.BoardMenu {
  width: 100%;
  @extend %flex-row;
  padding: 0;

  .column {
    padding: 0;
  }

  .BoardMenu-button {
    position: relative;
    width: 100%;
    @extend %boardmenu-texture;
    @include letterpress($black-d1);
    font-family: monospace;
    font-size: 0.9rem;
    padding: $p1 / 2;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow:
      $emboss,
      0 .3em .4em -.1em $alpha-black,
      $shadow-liner;
    transition: $transition-default;

    &.on {
      color: darken($primary, 12%);
    }

    &:active {
      transition: 0;
      color: $primary;
      box-shadow: none;
    }
  }
}
