.GameDisplay {
  width: 100%;
  @extend %flex-center;
  justify-content: space-around;
  align-items: center;

  .GameDisplay-visuals {
    figure {
      color: $primary;
    }
  }

  .GameDisplay-stage {
    $stage-gap: $p1;
    @extend %flex-row;
    padding: $stage-gap;
    .stage-item:not(:first-child) {
      margin-left: $stage-gap;
    }
    .button {
      margin-left: $p2;
      @extend %glyph-sized-md;
    }
  }
}
