
// ReactCSSTransitionGroup classes
.GameMenu-enter {
  opacity: 0;
  .ModalMenu {
    transform: translate(100%, 0);
    @include desktop {
      transform-origin: right top;
      transform: scale(0);
    }
  }

  &.GameMenu-enter-active {
    opacity: 1;
    transition: opacity $timing-modal ease-out;
    .ModalMenu {
      transform: translate(0,0);
      transition: $transition-default;
      @include desktop {
        transform: scale(1);
      }
    }
  }
}

.GameMenu-leave {
  opacity: 1;
  .ModalMenu {
    transform: translate(0,0);
    @include desktop {
      transform-origin: right top;
      transform: scale(1);
    }
  }

  &.GameMenu-leave-active {
    opacity: 0;
    transition: opacity $timing-modal ease-out;
    .ModalMenu {
      transform: translate(100%, 0);
      transition: $transition-default;
      @include desktop {
        transform: scale(0);
      }
    }
  }
}
