.GameDisplay {
  flex: 1 0 auto;
  min-height: 100%;
  max-height: 100%;
  @extend %flex-center;
  align-items: center;
  padding: auto;

  .GameDisplay-content {
    @extend %flex-center;
    align-items: center;
    margin: auto;

    .GameDisplay-top {
      margin-bottom: $display-center-gap;
      @extend %glyph-sized-md;
    }

    .GameDisplay-bottom {
      $stage-gap: $p1;
      @extend %flex-row;
      padding: $stage-gap;
      .stage-item:not(:first-child) {
        margin-left: $stage-gap;
      }
      .button {
        margin-left: $p2;
        @extend %glyph-sized-md;
      }
    }

  }


}
