.Glyph {
  @include square-glyph($glyph-size-sm, $glyph-font-fac);
  @extend %flex-center;
  box-shadow: $box-shadow;
  border-radius: $box-radius;
  background-color: $box-background-color;
  width: $glyph-size-sm;
  height: $glyph-size-sm;
  margin: 0;
  &.round {
    border-radius: 50%;
  }
  &.large {
    @include square-glyph($glyph-size-md, $glyph-font-fac);
  }

  @include tablet {
    @include square-glyph($glyph-size-md, $glyph-font-fac);

    &.large {
      @include square-glyph($glyph-size-lg, $glyph-font-fac);
    }
  }
}
