.Glyph {
  position: relative;
  margin: 0;
  border-radius: $box-radius;
  user-select: none;
  transform-origin: 50% 80%;
  &, * {
    transition: $transition-bounce;
    &:active {
      transition: 50ms ease-out;
    }
  }

  .Glyph-underlay {
    @extend %overlay;
    z-index: 1;
    border-radius: inherit;
    background-color: $alpha-black-sm;
    box-shadow: $inset-shadow-lg;
  }

  .Glyph-content {
    font-weight: bold;
    position: relative;
    z-index: 2;
    @extend %flex-center;
    @include square-glyph($glyph-size-sm, $glyph-font-fac);
    text-align: center;
    border-radius: inherit;
    box-shadow: $shadow;
    background-color: $black-l2;
    color: $text-invert;
    cursor: pointer;
  }

  &.engraved .Glyph-content {
    // box-shadow: $inset-shadow;
    background-color: $black-l3;
    @extend %letterpress;
  }
  &.round {
    border-radius: 50%;
  }
  &.md .Glyph-content {
    @include square-glyph($glyph-size-md, $glyph-font-fac);
  }
  &.lg .Glyph-content {
    @include square-glyph($glyph-size-lg, $glyph-font-fac);
  }
  &.hide {
    .Glyph-content {
      opacity: 0;
      transform: scale(0.1);
      cursor: auto;
    }
  }
  &.highlight {
    &.hide .Glyph-underlay {
      box-shadow: inset 0 0 .4em -.1em $primary, $inset-shadow-lg;
    }
    &:not(.hide) {
      @include underglow($primary);
    }
  }
  &.free {
    .Glyph-underlay {
      display: none;
    }
    .Glyph-content {
      background-color: transparent;
      box-shadow: none;
      @extend %raise;
    }
  }

  &:active {
    color: $primary;
    transform: scale(0.9);
  }
}

.Pool .Glyph.hide {
  pointer-events: none;
  touch-action: none;
}
