.Header {
  text-align: center;
  padding: 1rem;
  background-color: $text;
  @extend %flex-center;

  h1 {
    color: $text-invert;
    white-space: nowrap;
    font-family: $family-display;
    letter-spacing: .1em;
    text-shadow: power-shadow($black-l1), power-shadow($primary, 2);
  }
}
