.Header {
  text-align: center;
  padding: 1rem;
  background-color: $text;
  @extend %flex-center;
  @extend %header-texture;
  box-shadow: $emboss, 0 0 1em $alpha-black;

  h1 {
    color: $text-invert;
    white-space: nowrap;
    font-family: $family-display;
    letter-spacing: .1em;
    text-shadow: power-shadow($black-l1), power-shadow($primary, 2);
  }
}
