.Layout {
  min-height: 100vh;
  padding: 0;
  @extend %flex-column;
  max-width: $tablet;

  .Layout-main {
    position: relative;
    z-index: 0;
    flex-grow: 1;
    flex-shrink: 1;
    @extend %flex-column;
  }

  .Layout-footer {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    text-align: center;
    background-color: $black;
    box-shadow: $shadow-top;
    padding: 0.3rem;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: bold;
    &, a {
      color: $black-l3;
    }
    a:hover {
      color: $primary;
    }
  }
}
