.ModalMenu {
  padding: $p2;
  @extend %menu-texture;
  color: $white-d2;
  top: 0;
  height: 100vh;
  width: auto;

  &.left {
    left: 0;
    right: auto;
  }

  &.right {
    right: 0;
    left: auto;
  }
}
