$vertical-padding: $p2;

.ModalMenu {
  @extend %menu-texture;
  color: $white-d2;
  top: 0;
  height: 100vh;
  width: 12rem;
  padding-bottom: $vertical-padding;
  @extend %flex-column;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  h3, li {
    text-align: center;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.2rem;
    padding: $p2 $p3;
    @extend %header-texture;
    box-shadow: $emboss, power-shadow($black, 1), $shadow;
    margin-bottom: $vertical-padding;
    @include glow($white-d4);
    position: sticky;
    top: 0;
    font-family: $family-display;
    * {
      display: inline-block;
      &:not(:first-child) {
        margin-left: $p1;
      }
    }
  }

  li {
    font-size: 1rem;
    padding: $p1 $p3;
    cursor: pointer;
    @include letterpress($black-d1);

    span {
      display: block;
      font-size: .8em;
      @include letterpress($alpha-white);
      &.subheader {
        text-align: left;
        @include letterpress($black-d1);
      }
    }

    &.subsection {
      font-weight: bold;
      margin-top: $p2;
      font-family: $family-display;
    }

    &.on {
      @include glow($primary);
    }

    &:hover, &:focus {
      &:not(.noclick), * {
        @include glow($alpha-white);
      }
    }

    &:active:not(.noclick) {
      background-color: $alpha-white-xs;
    }

    &.noclick {
      pointer-events: none;
      touch-action: none;
    }
  }

  &.left {
    left: 0;
    right: auto;
  }

  &.right {
    right: 0;
    left: auto;
  }

  .column {
    &:first-of-type {
      padding-right: 0;
    }
    &:not(:first-of-type) {
      padding-left: 0;
    }
  }

  @include desktop {
    height: auto;
    width: 18rem;
    max-height: 80vh;
    &::-webkit-scrollbar {
      display: initial;
    }
  }
}
