.Pool {
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  @extend %fill;
  padding: 0 $glyph-gap;
  @include glyph-container-width(2);
  @extend %flex-row;
  @extend %pool-texture;

  .Pool-column {
    flex: 0 0 50%;
    @extend %flex-column;
    justify-content: space-around;
    align-items: center;
    padding: $p1 0;
  }

  .Pool-item {
    margin: 0;
  }

  @include tablet {
    padding: 0 10%;
  }

}
