.Pool {
  height: 100%;
  padding: $glyph-gap;
  border: 1px solid $text;
  @include glyph-container-width(2);
  @extend %flex-row;

  .Pool-column {
    &:not(:first-of-type) {
      padding-left: $glyph-gap;
    }
  }

  .Pool-item {
    margin: 0;
    &:not(:first-child) {
      margin-top: $glyph-gap;
    }
  }

}
