.RecordBar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  margin-left: .4rem;
  height: 100%;
  min-height: 100%;
  width: $p1;
  min-width: $p1;
  padding: .2rem 0;

  .result-tick {
    flex: 0 0 .2em;
    min-height: .2em;
    width: $p1;
    min-width: $p1;
    background-color: rgba($black, 0.5);
    box-shadow: $engrave;
    border-radius: 4px;
    margin-bottom: .1em;
    &:not(:first-child) {
      margin-bottom: .15em;
    }

    &.perfect {
      @include glow-box($secondary);
    }
    &.near {
      @include glow-box(rgba($white, 0.9));
    }
  }
}
