.Record {
  width: 100%;
  @extend %flex-row;
  padding: $p1;

  .Record-code {
    @extend %flex-row;

    .code-item {
      margin-right: $glyph-gap;
    }

  }

  .Record-result {
    flex: 1 1 auto;
    @extend %flex-center;
    background-color: $info;
  }
}
