.Sheet {
  @extend %fill;
  min-height: $sheet-height;
  max-height: $sheet-height;
  max-width: 50vw;
  @include carbon-fiber($black-l4);
  @extend %flex-column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
