$spin-size: 0.4em;

.Spinner {
  @extend %fill;
  @extend %flex-center;
  .Spinner-shape {
    margin: auto;
    @include square($spin-size);
    color: $white;
    border-radius: 50%;
    position: relative;
    animation: load4 1.3s infinite linear;
    transform: translateZ(0);
  }

  &.large {
    .Spinner-shape {
      @include square($spin-size * 2);
    }
  }
  &.xlarge {
    .Spinner-shape {
      @include square($spin-size * 3);
    }
  }
}

$spin-fac: $spin-size;

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 (-3*$spin-fac) 0 (0.2*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (0*$spin-fac), (3*$spin-fac) 0 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), (-3*$spin-fac) 0 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 0;
  }
  12.5% {
    box-shadow: 0 (-3*$spin-fac) 0 0, (2*$spin-fac) (-2*$spin-fac) 0 (0.2*$spin-fac), (3*$spin-fac) 0 0 0, (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), (-3*$spin-fac) 0 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  25% {
    box-shadow: 0 (-3*$spin-fac) 0 -(0.5*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 0, (3*$spin-fac) 0 0 (0.2*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 0, 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), (-3*$spin-fac) 0 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  37.5% {
    box-shadow: 0 (-3*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) (0*$spin-fac) 0 0, (2*$spin-fac) (2*$spin-fac) 0 (0.2*$spin-fac), 0 (3*$spin-fac) 0 (0*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), (-3*$spin-fac) (0*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  50% {
    box-shadow: 0 (-3*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) 0 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (0*$spin-fac), 0 (3*$spin-fac) 0 (0.2*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 0, (-3*$spin-fac) (0*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  62.5% {
    box-shadow: 0 (-3*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) 0 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 0, (-2*$spin-fac) (2*$spin-fac) 0 (0.2*$spin-fac), (-3*$spin-fac) 0 0 0, (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  75% {
    box-shadow: (0*$spin-fac) (-3*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) (0*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 0, (-3*$spin-fac) (0*$spin-fac) 0 (0.2*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 0;
  }
  87.5% {
    box-shadow: (0*$spin-fac) (-3*$spin-fac) 0 0, (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) 0 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 0, (-3*$spin-fac) (0*$spin-fac) 0 0, (-2*$spin-fac) (-2*$spin-fac) 0 (0.2*$spin-fac);
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 (-3*$spin-fac) 0 (0.2*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (0*$spin-fac), (3*$spin-fac) 0 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), (-3*$spin-fac) 0 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 0;
  }
  12.5% {
    box-shadow: 0 (-3*$spin-fac) 0 0, (2*$spin-fac) (-2*$spin-fac) 0 (0.2*$spin-fac), (3*$spin-fac) 0 0 0, (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), (-3*$spin-fac) 0 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  25% {
    box-shadow: 0 (-3*$spin-fac) 0 -(0.5*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 0, (3*$spin-fac) 0 0 (0.2*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 0, 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), (-3*$spin-fac) 0 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  37.5% {
    box-shadow: 0 (-3*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) (0*$spin-fac) 0 0, (2*$spin-fac) (2*$spin-fac) 0 (0.2*$spin-fac), 0 (3*$spin-fac) 0 (0*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), (-3*$spin-fac) (0*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  50% {
    box-shadow: 0 (-3*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) 0 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (0*$spin-fac), 0 (3*$spin-fac) 0 (0.2*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 0, (-3*$spin-fac) (0*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  62.5% {
    box-shadow: 0 (-3*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) 0 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 0, (-2*$spin-fac) (2*$spin-fac) 0 (0.2*$spin-fac), (-3*$spin-fac) 0 0 0, (-2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac);
  }
  75% {
    box-shadow: (0*$spin-fac) (-3*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) (0*$spin-fac) 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 0, (-3*$spin-fac) (0*$spin-fac) 0 (0.2*$spin-fac), (-2*$spin-fac) (-2*$spin-fac) 0 0;
  }
  87.5% {
    box-shadow: (0*$spin-fac) (-3*$spin-fac) 0 0, (2*$spin-fac) (-2*$spin-fac) 0 (-1*$spin-fac), (3*$spin-fac) 0 0 (-1*$spin-fac), (2*$spin-fac) (2*$spin-fac) 0 (-1*$spin-fac), 0 (3*$spin-fac) 0 (-1*$spin-fac), (-2*$spin-fac) (2*$spin-fac) 0 0, (-3*$spin-fac) (0*$spin-fac) 0 0, (-2*$spin-fac) (-2*$spin-fac) 0 (0.2*$spin-fac);
  }
}
