.Index {
  flex: 1 1 auto;
  @extend %flex-column;

  .Index-gamedisplay {
    flex: 1 1 auto;
  }

  .Index-gameboard {
    height: $gameboard-height-mobile;
    max-height: $gameboard-height-mobile;
  }

  @include tablet {
    .Index-gameboard {
      height: $gameboard-height-tablet;
      max-height: $gameboard-height-tablet;
    }
  }
}
