.Index {
  flex: 1 1 auto;
  @extend %flex-column;

  .Index-gamedisplay {
    flex: 1 0 auto;
    display: flex;
  }

  .Index-actionmenu {
    flex: 0 0 auto;
  }

  .Index-gameboard {
    flex: 0 0 50%;
    overflow: hidden;
    box-shadow: 0 -.1em .5em -1px $alpha-black;
    border-top: 1px solid $black-l2;
  }

}
