.Index {
  flex: 1 1 auto;
  @extend %flex-column;

  .Index-gamedisplay {
    flex: 1 0 auto;
    display: flex;
  }

  .Index-actionmenu {
    flex: 0 0 auto;
  }

  .Index-gameboard {
    flex: 0 0 50%;
    overflow: hidden;
    // height: $gameboard-height-mobile;
    // max-height: $gameboard-height-mobile;
  }

  // @include tablet {
  //   .Index-gameboard {
  //     height: $gameboard-height-tablet;
  //     max-height: $gameboard-height-tablet;
  //   }
  // }
}
