@keyframes record-slide {
  from { transform: translate(0, -100%); }
  to { transform: translate(0,0); }
}

@keyframes record-appear {
  from {
    height: 0;
    opacity: 0;
    padding: 0;
  }
  to {
    @include glyph-sm-container-height(1);
    opacity: 1;
    padding: $p1;
  }
}

@keyframes pulse-primary {
  from { box-shadow: 0 0 0 0em rgba($primary, 0.4); }
  to { box-shadow: 0 0 0 .8em rgba($primary, 0); }
}
