html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  @media only screen and (max-width: 349px) {
    font-size: 12px;
  }
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 20px;
  }
}

body {
  @extend %carbon-fiber-gradient;
}

* {
  -webkit-tap-highlight-color: transparent;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

// bulma overrides

.container {
  max-width: $tablet - ($gap * 2);
}
