// general
$p1: 8px;
$p2: $p1 * 2;
$p3: $p1 * 3;
$p4: $p1 * 4;

// components

$glyph-gap: $p1;
$glyph-size-sm: 30px;
$glyph-size-md: 40px;
$glyph-size-lg: 60px;
$glyph-font-fac: .5;

// height = (n)(glyph-size) + (n+1)(glyph-margin)
$gameboard-height-mobile: ($glyph-size-md * 5) + ($glyph-gap * 6);
$gameboard-height-tablet: ($glyph-size-lg * 5) + ($glyph-gap * 6);
