// general
$p1: 0.5rem;
$p2: $p1 * 2;
$p3: $p1 * 3;
$p4: $p1 * 4;

// animation
$bezier-bounce: cubic-bezier(.21,1.11,.6,1.15);
$transition-default: 200ms $bezier-bounce;

// more color
$alpha-level: 0.6;
$alpha-level-sm: 0.15;
$alpha-black: rgba(black,$alpha-level);
$alpha-white: rgba(white,$alpha-level);
$alpha-black-sm: rgba(black,$alpha-level-sm);
$alpha-white-sm: rgba(white,$alpha-level-sm);
$carbon-fiber: #474747;
$inset-shadow: inset .1em .1em .4em -1px $alpha-black;
$inset-shadow-lg:
  inset -.2em .3em .8em -1px $alpha-black,
  inset .25em .3em .8em -1px $alpha-black;

$shadow-liner: 0 0 0 1px rgba(black, 0.1);
$shadow: 0 0.5em 1em -0.3em $alpha-black, $shadow-liner;

// components
$glyph-gap: $p1;
$glyph-size-sm: 2rem;
$glyph-size-md: 4rem;
$glyph-size-lg: 5rem;
$glyph-font-fac: .5;

// height = (n)(glyph-size) + (n+1)(glyph-margin)
$gameboard-height-mobile: ($glyph-size-md * 5) + ($glyph-gap * 6);
$gameboard-height-tablet: ($glyph-size-lg * 5) + ($glyph-gap * 6);
