%flex {
  display: flex;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%fill {
  height: 100%;
  width: 100%;
}

@mixin square($n) {
  width: $n;
  height: $n;
}

@mixin square-glyph($n, $f) {
  @include square($n);
  font-size: $n * $f;
}

%glyph-sized {
  @include square-glyph($glyph-size-md, $glyph-font-fac);
}

@mixin glyph-container($n) {
  $size-sm: ($glyph-size-md*$n) + ($glyph-gap*($n+1));
  width: $size-sm;
  @include tablet {
    $size-lg: ($glyph-size-lg*$n) + ($glyph-gap*($n+1));
    width: $size-lg;
  }
}
