// backgrounds

%carbon-fiber-gradient {
  background:
    url("https://www.transparenttextures.com/patterns/carbon-fibre.png"),
    linear-gradient(lighten($carbon-fiber, 4%), darken($carbon-fiber, 4%));
}

@mixin carbon-fiber($color) {
  background: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
  background-color: lighten($color, 16%);
}
@mixin real-carbon-fiber($color) {
  background: url("https://www.transparenttextures.com/patterns/real-carbon-fibre.png");
  background-color: $color;
}
@mixin dark-matter($color) {
  background: url("https://www.transparenttextures.com/patterns/dark-matter.png");
  background-color: $color;
}
@mixin hex($color) {
  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb-dark.png");
  background-color: $color;
}
@mixin gunmetal($color) {
  background-image: url("https://www.transparenttextures.com/patterns/gun-metal.png");
  background-color: $color;
}
@mixin iron-grip($color) {
  background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png");
  background-color: $color;
}
@mixin twinkle($color) {
  background-image: url("https://www.transparenttextures.com/patterns/twinkle-twinkle.png");
  background-color: $color;
}
@mixin padded($color) {
  background-image: url("https://www.transparenttextures.com/patterns/padded.png");
  background-color: $color;
}

%body-texture {
  @include padded($black-d2);
}
%layout-texture {
  @include carbon-fiber($black);
}
%header-texture {
  @include gunmetal($black);
}
%boardmenu-texture {
  @include gunmetal($black-l2);
}
%pool-texture {
  @extend %layout-texture;
}
%glyph-surface-texture {
  @include real-carbon-fiber($black);
}
%keybutton-off-texture {
  @include iron-grip($black-d2);
}
%keybutton-on-texture {
  @include twinkle($primary);
}
%history-texture {
  @include dark-matter($black-l1);
}
%record-texture {
  @include hex($black-l1);
}
%menu-texture {
  background:
    url("https://www.transparenttextures.com/patterns/light-honeycomb-dark.png"),
    linear-gradient($black-l1, $black-d2);
}
%footer-texture {
  @extend %header-texture;
}
